#creator{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#creator #kalep-draggable {
     width: 30%;
     border: 1px solid #dfdfdf;
    float: left;
}

#creator #sortable{
    width:100%;
    min-height: 100px;
  
   
}
.kalep-elements{
    width: 65%;
    padding:0px;
    float: right;
    /*display: inline-table;*/
    white-space: nowrap; 
    margin: 10px 3px 0px 5xp;
    text-overflow: hidden;
    border: 1px solid #dfdfdf;
    min-height: 100px;
    overflow: hidden;
    background-color: #fafafa;
    
}
#kalep-draggable div,#sortable div{
    margin: 10px;
    border: 1px solid #dfdfdf;
    padding: 10px;
    
}
#kalep-draggable div{ width: 200px;
float:left;}
#sortable div { width: 500px;
      height:auto !important;
}
#creator .title-blocks{
    background: gray;
    cursor: auto;
    padding: 11px 10px 12px 14px;
    background: #f5f5f5;
    border-bottom: 1px solid #DFDFDF;
    margin: 0px;
}

.close {
    float: right;
    color: gray;
    cursor: pointer;
    alignment-adjust: middle;
}
.ele_edit {
    float: right;
    color: blueviolet;
    cursor: pointer;
    text-align: right;
}
.container{
    border: 2px solid;
    height: 200px;
    width: 600px;
}
.clear-div{
        float: right;
        text-decoration: none;
        cursor: pointer;
        margin: 0px;
        padding: 0px;
        font-size: 12px;
}
.container{
    width: 500px !important;
}
.container .sm-container{
    /*list-style: none;*/
    background: red;
    width: 400px !important;
    height: 200px !important;   
    
}
li{list-style: none;}