@import normalize.css;

@import ../fonts/font-awesome.css;

*,:after,:before {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

body {
    font-family:'Ubuntu',sans-serif !important; 
    font-size:12px !important;
    line-height:1.6;
}


/* ---- Font + background colors starts here ---- */

    .gray-font {
        color:#3c3c3c
    }

    .orange-font {
        color:#f7941d
    }

    .light-gray-font {
        color:#f5f5f5
    }

    .white-font {
        color:#fff
    }

    .gray-back {
        background-color:#3c3c3c
    }

    .orange-back {
        background-color:#f7941d
    }

    .light-gray-back {
        background-color:#f5f5f5
    }

    .white-back {
        background-color:#fff
    }
/* ---- Font + background colors ends here ---- */


/* ---- Font Sizes starts here ---- */

    .medium {
        font-weight:500
    }

    .bold {
        font-weight:700
    }

    .underline {
        text-decoration:underline
    }

    .italic {
        font-style:italic
    }

/* ---- Font Sizes ends here ---- */


/* ---- qoutes starts here ---- */
    .quotes {
        position:relative;
        padding:20px 40px;
        background:#f9f9f9
    }

    .quotes::before,.quotes::after {
        font-family:'FontAwesome';
        color:#f7941d;
        font-size:25px;
        position:absolute
    }

    .quotes::before {
      content: "\f10d";

        left:10px;
        top:0
    }

    .quotes::after {
        content:"\f10e";
        right:10px;
        bottom:0
    }

    ul.disc {
        list-style:disc;
    }

    ul.numbers {
        list-style:decimal;
    }

    .break {
        height:15px
    }

    .db-break {
        height:30px
    }

/* ---- qoutes ends here ---- */

/* titles */
.two-btm-bordered-title {
    border-bottom:1px solid #ddd
}

.two-btm-bordered-title span {
    display:inline-block;
    padding-bottom:15px;
    position:relative
}

.two-btm-bordered-title span::after {
    content:"";
    position:absolute;
    border-bottom:4px solid #333;
    display:block;
    bottom:0;
    width:120%
}

.two-side-bordered-title {
    display:table;
    margin:auto
}

.two-side-bordered-title {
    position:relative;
    padding:0 20px
}

.two-side-bordered-title span::before {
    content:"";
    position:absolute;
    display:block;
    bottom:0;
    border-left:4px solid #f7941d;
    height:100%;
    left:0
}

.two-side-bordered-title span::after {
    content:"";
    position:absolute;
    display:block;
    bottom:0;
    border-right:4px solid #f7941d;
    height:100%;
    right:0
}

.centered-two-btm-bordered-title {
    position:relative;
    padding:0 15px;
    text-align:center;
    border-bottom:1px solid #ddd
}

.centered-two-btm-bordered-title span {
    display:inline-block;
    padding-bottom:15px;
    position:relative
}

.centered-two-btm-bordered-title span::after {
    content:"";
    position:absolute;
    border-bottom:4px solid #333;
    display:block;
    bottom:0;
    width:120%;
    left:-15px
}

.btm-bordered-title span {
    display:inline-block;
    padding:0 15px 15px;
    position:relative
}

.btm-bordered-title span::after {
    content:"";
    position:absolute;
    border-bottom:4px solid #333;
    display:block;
    bottom:0;
    width:120%;
    left:-15px
}
.btn2 {
    border:none;
    cursor:pointer;
    font-size:16px;
    outline:none;
    position:relative;
    transition:all ease-in-out .3s;
    -webkit-transition:all ease-in-out .3s;
    -moz-transition:all ease-in-out .3s;
    -o-transition:all ease-in-out .3s;
    -ms-transition:all ease-in-out .3s;
    padding: 0;
}


/* ---- buttones starts here ---- */

.btn {
    border:none;
    cursor:pointer;
    font-size:16px;
    outline:none;
    position:relative;
    transition:all ease-in-out .3s;
    -webkit-transition:all ease-in-out .3s;
    -moz-transition:all ease-in-out .3s;
    -o-transition:all ease-in-out .3s;
    -ms-transition:all ease-in-out .3s;
    padding: 0;
}

.btn span{
  padding-right: 8px;
  padding-left: 8px;

}


.flat-btn {
    border-radius:0
}

.round-btn {
    border-radius:3px
}

.more-round-btn {
    border-radius:8px
}

.new-btn{
  border-radius: 40px 5px 5px 8px;
  background: #f7941d;
}

.orange-btn {
    background:#f7941d;
    color:#fff;
    border:2px solid transparent
}

    .orange-btn:hover,.orange-btn:focus {
        background:#fff;
        color:#f7941d;
        border:2px solid #f7941d;
        outline:none
    }

.gray-btn {
    background:#333;
    color:#fff;
    border:2px solid transparent
}

    .gray-btn:hover,.gray-btn:focus {
        background:#fff;
        color:#333;
        border:2px solid #333;
        outline:none
    }

.orange-trans-btn {
    background:transparent;
    color:#f7941d;
    border:2px solid #f7941d
}

    .orange-trans-btn:hover,.orange-trans-btn:focus {
        background:#f7941d;
        color:#fff;
        border:2px solid #fff;
        outline:none
    }

.gray-trans-btn {
    background:transparent;
    color:#333;
    border:2px solid #333
}

    .gray-trans-btn:hover,.gray-trans-btn:focus {
        background:#333;
        color:#fff;
        border:2px solid #fff;
        outline:none
    }

.gray-btn-lbor {
    background:#333;
    color:#fff;
    border-left:2px solid #f7941d;
}

    .gray-btn-lbor:hover,.gray-btn-lbor:focus {
        color:#333;
        background-color: transparent;
    border-left:2px solid #f7941d;
    border-top:  2px solid #333;
    border-bottom:  2px solid #333;
    border-right:  2px solid #333;

    }

.gray-btn-tbor {
    background:#333;
    color:#fff;
    border-top:2px solid #f7941d;
}

    .gray-btn-tbor:hover,.gray-btn-tbor:focus {
        color:#333;
        background-color: transparent;
    border-left:2px solid #333;
    border-top:  2px solid #f7941d;
    border-bottom:  2px solid #333;
    border-right:  2px solid #333;

    }


.gray-btn-bbor {
    background:#333;
    color:#fff;
    border-bottom:2px solid #f7941d;
}

    .gray-btn-bbor:hover,.gray-btn-bbor:focus {
        color:#333;
        background-color: transparent;
    border-left:2px solid #333;
    border-top:  2px solid #333;
    border-bottom:  2px solid #f7941d;
    border-right:  2px solid #333;

    }

.gray-btn-rbor {
    background:#333;
    color:#fff;
    border-right:2px solid #f7941d;
}

    .gray-btn-rbor:hover,.gray-btn-rbor:focus {
        color:#333;
        background-color: transparent;
    border-left:2px solid #333;
    border-top:  2px solid #333;
    border-bottom:  2px solid #333;
    border-right:  2px solid #f7941d;

    }




.sm-btn {
    font-size:12px;
    padding: 4px 6px
}

.md-btn {
    font-size:14px;
        padding: 6px 12px

}

.lg-btn {
    font-size:16px;
        padding: 12px 24px

}

.buttons-hover {
    position:relative;
    z-index:1
}

.btn:after {
    content:'';
    position:absolute;
    z-index:-1;
    transition:all ease-in-out .3s;
    -webkit-transition:all ease-in-out .3s;
    -moz-transition:all ease-in-out .3s;
    -o-transition:all ease-in-out .3s;
    -ms-transition:all ease-in-out .3s
}

button{
border: 0;
background: transparent;
width: auto;
height: auto;
margin: 0;
padding:0;
}

.btns{
    color: #fff;
    font-size: 12px;
}

.btn-green{ background-color:#99cc66 }
.btn-dark-red{ background-color:#993333 }
.btn-dark-gray{ background-color:#2c2b2b }
.btn-dark-yellow{ background-color:#cc9933}
.btn-white-gr{background-color:#dfdfdf}
.btn-pink{background-color:#cb689b}
.btn-light-blue{background-color:#1a80b6}
.btn-border-gray{background-color:#333333}
.btn-op-dark-gary{background-color:#2c2b2b}
.btn-light-orange{background-color:#f7941d}
.btn-gr{background-color:#666262}
.btn-milon{background-color:#c34e30}

.btn-cyan{background-color:#6eb9b4}
.btn-light-green{background-color:#8bb63e}
.btn-bnafsg{background-color:#735d7f}
.btn-border-orange{border:solid #f7941d 4px; border-radius: 5px; color: #333333}
.btn-border-dark{border:solid #333333 4px; border-radius: 5px; color: #333333}

.df-btn{
    padding:18px 22px;  
}




/* Button slide hover */
.slide-hover {
    border:3px solid #fff;
    color:#fff;
    background:#333
}

.slide-hover:after {
    width:100%;
    height:0;
    top:0;
    left:0;
    background:#fff
}

.slide-hover:hover,.slide-hover:active {
    color:#0e83cd;
    border:3px solid #333
}

.slide-hover:hover:after,.slide-hover:active:after {
    height:100%
}

/* Button 1c */
.btn-1c:after {
    width:0;
    height:100%;
    top:0;
    left:0;
    background:red
}

.btn-1c:hover,.btn-1c:active {
    color:#fff;
    border:3px solid #333;
}

.btn-1c:hover:after,.btn-1c:active:after {
    width:100%;
    z-index:0
}

.hov-btn-slide{
    background-color: #000;
    width: 20px;
    height: 30px;
    position: absolute;
}



/* ---- buttones ends here ---- */



/* ---- alert starts here ---- */

.alert-1,.alert-2 {
    padding-left:0;
    padding-top:0;
    padding-bottom:0;
    border:0;
    overflow:hidden;
    position:relative
}

.alert-1 p,.alert-2 p {
    color:#fff;
    font-size:12px;
    padding:0;
    margin:0;
    padding:10px 10px 10px 0;
    text-align:justify
}

/* ---- alert ends here ---- */



[

.alert-2 p {
    color:#333;
}

.alert-2 {
    background-color:#fff;
}

/* alert solid starts here*/
.alert-solid {
    padding:20px 18px;
    position: relative;
}

.alert-over{
    margin-top: 10px !important;
}
/* alert box starts here*/
.alert-box-item {
  padding:9px 30px;
  position: relative;
}
]
/* full alert starts here*/
.full-alert-msg{
	position: relative;
}
.full-alert-msg p {
    margin:0;
    padding-top:15px;
    padding-bottom:15px;
}
.full-alert-msg p img{
	padding-right: 10px;
}


/* alert box starts here*/
.short-alert p {
    padding:0;
    margin:0
}

.short-alert {
    padding:20px 10px;
    border-radius:10px;
    position:relative
}

.alert-pop span{
	background-color: #e5e5e5;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	text-align: center;
	line-height: 25px;
	margin-right: 10px;
}



/* alert types starts here*/
.alert-transparent {
    background-color:transparent;
    border:1px #bbb solid
}

.alert-yellow {
    background-color:#ffc
}

.alert-green {
    background-color:#cf9
}

.alert-red {
    background-color:#fcc
}

/* alert-squares starts here*/

.alert-square-1 {
    padding:30px 16px;
    border-radius:8px;
    position:relative
}

.alert-square-1 span {
    font-size:30px;
    text-align:center;
    display:block;
    padding-bottom:8px
}


/* clos codes starts */


.short-close, .square-close, .box-close, .solid-close, .close-msg, .full-close{
    position:absolute;
    top:0;
    right:22px;
    float:right;
    font-size:16px!important;
    font-weight:700;
    color:#000;
}




/* styles of button page */

/*list of colors */


/* styles of content_box page */

.content-box{
    font-size: 14px;
    color: #686262;

}

.content-box h3{
    border-bottom: 2px solid #868686;
    padding-bottom: 5px;
    font-size: 14px;
    color: #444444;

}



/* styles of content-center page */


.content-center span{
    font-size: 25px;
}

.content-center p{
    font-size: 14px;
    text-align: justify;

}

.content-center h3{
    font-size: 14px;
    color: #853a4b;
   
}

/* styles of content-rec page */


.content-rec h3{
    font-size: 14px;
    background-color: #444444;
    text-align: center;
    padding: 28px 39px;
    color: #fff;
    margin: 0;
    min-width: 150px;
    width: 280px;
    position: absolute;
    z-index: 1;
    margin-top: -30px;
    margin-left: 115px;
    border: #fff 4px solid;


}

.content-rec a{
    text-align: center;
    display: block;
}


.contxt{
    font-size: 14px;
    background-color: #efefef;
    padding:90px 25px 22px 25px;
    position: relative;
}


.diagram span{
      top: 40%;
      z-index: 1;
      height: auto !important;
    line-height: normal !important;

}
2
.diagram-back span{
    background-color: #fa9011;
    border-radius: 50%;
    display: block;
    width: 70px !important;
    height: 70px !important;
    margin:auto;
    padding-top: 25px;
    color: #fff !important;
    top: 25px;
}

/* styles of dividers page */

.thin-line{
    background-color: #bbb;
    height: 1px;
    width: 100%;
    display: block;
}

.dashed-line{
    height: 1px;
    width: 100%;
    border: dashed 1px #bbb;
}


.slash-line{
content: "";
width: 100%;
height: 12px;
background-image: url(../images/slash.png);
}

.mrg{
    margin-bottom: 50px;
}

.col{
    background-color: #000;
    color: #fff;
    width: 90px;
    height: 30px;
    position: relative;
    display: inline-block;
}

.vo{
    background-color: #f7941d;
    color: #000;
    width: 90px;
    height: 30px;
    position: absolute;
    padding:0;
    margin: 0;
    display: none;
    top: 0;
    left: 0;

}



/* Imgages Part */



.img-shadow-border
{
  position: relative;
}


.img-shadow-border:before, .img-shadow-border:after
{
    z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  left: 17px;
  width: 45%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.img-shadow-border:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 17px;
  left: auto;
}



.img-black-border img{
    border: #171819 solid 3px;
}

.img-wgray-border img{
    border: #e1e1e1 solid 3px;
}

.img-around-border{
    position: relative;
}
.img-around-border:before{
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
  border-left: 30px solid transparent;
  border-right: 0px solid transparent;
  border-top: 30px solid transparent;
  box-shadow: 2px -1px 0px 1px #4d4d4d;
  position: absolute;
  right: 21px;
  top: 0px;
}

.img-around-border:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  box-shadow: 2px -1px 0px 1px #4d4d4d;
  position: absolute;
  left: 15px;
  bottom: 0px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}





.img-bottom-border img {
    border-bottom: 4px solid #f7941d;
    padding-bottom: 4px;

}






.img-plaster-border{
    position: relative;
}

.img-plaster-border:before{
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
  width: 10px;
  height: 54px;
  background-color: #f7941d;
  position: absolute;
  left: 19px;
  bottom: -17px;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
}


.img-plaster-border:after{
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
  width: 10px;
  height: 54px;
  background-color: #f7941d;
  position: absolute;
  right: 19px;
  top: -17px;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);

}



.simg-bottom-border img{
    border-bottom: 5px solid #f7941d;
}


.simg-rb-border img{
    padding:5px;
    border-right:3px solid #cecece;
    border-bottom:3px solid #cecece;
    background:#ffffff;
 }

.simg-dub-border img{
    padding:5px;
    border-right:3px solid #cecece;
    border-bottom:3px solid #cecece;
    background:#333333;
 }

.simg-shadows-border img{
     box-shadow: 0px 0px 7px 2px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 7px 2px rgba(119, 119, 119, 0.75);
-webkit-box-shadow:  0px 0px 7px 2px rgba(119, 119, 119, 0.75);
}

/*.simg-shadow-border img{
    box-shadow: 0px 10px  5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 10px  5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 10px 5px  rgba(0,0,0,0.6);
}*/
.simg-shadow-border img{
    box-shadow: 0px 7px 14px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 7px 14px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 7px 14px rgba(0,0,0,0.4);
}

 img-thumb-border img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
     box-shadow: 0px 0px 7px -1px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 7px -1px rgba(119, 119, 119, 0.75);
-webkit-box-shadow:0px 0px 7px -1px rgba(119, 119, 119, 0.75);
}

.img-shadow-bot-border{
    position: relative;
}



.img-shape-border{
position: relative;
}

.img-shape-border span{
    border: 3px dashed #fff;
    height: 214px;
    display: block;
    width: 359px;
    position: absolute;
    z-index: 1;
    top: 0;

}




.img-shape-zental-1, .img-shape-zental-2 {
    height: 6px;
    width: 119px;
    background-color: #3c3c3c;
    display: block;
    position: absolute;
    z-index: 2;
    content: "";
}


.img-shape-tical-1, .img-shape-tical-2 {
    height: 119px;
    width: 6px;
    background-color: #3c3c3c;
    display: block;
    position: absolute;
    z-index: 2;
    content: "";
}

.img-shape-zental-1{
    top: -10px;
    left: 0;

}

.img-shape-tical-1{
  left: 4px;
  bottom: -10px;

}

.img-shape-tical-2{
  right: 6px;
  top: -6px;

}
.img-shape-zental-2{
  right: 5px;
  bottom: -10px;
}


.img-shadow-bot-bor img{
    border:4px solid #e8e8e8;

}

.img-shadow-bot-bor{
    position: relative;
}

.img-shadow-bot-bor:before, .img-shadow-bot-bor:after
{
    z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  left: 17px;
  width: 45%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.img-shadow-bot-bor:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 17px;
  left: auto;
}


.alert-over{
    overflow: auto;
    margin-bottom: 20px;
    border: 0 !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 15px;
}

.alert-over img{
    margin-right: 6px;
}


/* pagination */

.pagination>li>a, .pagination>li>span {

}



.pagination-cir {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination-cir > li {
  display: inline;
}
.pagination-cir > li > a,
.pagination-cir > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #000;
  margin-left: -1px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ded7d7;
    margin-right: 4px;

}
.pagination-cir > li:first-child > a,
.pagination-cir > li:first-child > span {
  margin-left: 0;
}
.pagination-cir > li:last-child > a,
.pagination-cir > li:last-child > span {
  
}
.pagination-cir > li > a:hover,
.pagination-cir > li > span:hover,
.pagination-cir > li > a:focus,
.pagination-cir > li > span:focus {
  color: #23527c;
  background-color: #fa9011;
  border-color: #ddd;
}
.pagination-cir > .active > a,
.pagination-cir > .active > span,
.pagination-cir > .active > a:hover,
.pagination-cir > .active > span:hover,
.pagination-cir > .active > a:focus,
.pagination-cir > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination-cir > .disabled > span,
.pagination-cir > .disabled > span:hover,
.pagination-cir > .disabled > span:focus,
.pagination-cir > .disabled > a,
.pagination-cir > .disabled > a:hover,
.pagination-cir > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}



  /* df pagi */


.pagination-default {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination-default > li {
  display: inline;
}
.pagination-default > li > a,
.pagination-default > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #8895a3;
  text-decoration: none;
  background-color: #fff;
}
.pagination-default > li:first-child > a,
.pagination-default > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination-default > li:last-child > a,
.pagination-default > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination-default > li > a:hover,
.pagination-default > li > span:hover,
.pagination-default > li > a:focus,
.pagination-default > li > span:focus {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination-default > .active > a,
.pagination-default > .active > span,
.pagination-default > .active > a:hover,
.pagination-default > .active > span:hover,
.pagination-default > .active > a:focus,
.pagination-default > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination-default > .disabled > span,
.pagination-default > .disabled > span:hover,
.pagination-default > .disabled > span:focus,
.pagination-default > .disabled > a,
.pagination-default > .disabled > a:hover,
.pagination-default > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}



.pager-clean {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager-clean li {
  display: inline;
}
.pager-clean li > a,
.pager-clean li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #515151;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
}
.pager-clean li > a:hover,
.pager-clean li > a:focus {
  text-decoration: none;
  background-color: #fa9011;
  color: #000;
}
.pager-clean .next > a,
.pager-clean .next > span {
  float: right;
}
.pager-clean .previous > a,
.pager-clean .previous > span {
  float: left;
}
.pager-clean .disabled > a,
.pager-clean .disabled > a:hover,
.pager-clean .disabled > a:focus,
.pager-clean .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}


  /* df pagi */


.pagination-color {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination-color > li {
  display: inline;
}
.pagination-color > li > a,
.pagination-color > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-right: 8px;
  line-height: 1.42857143;
  color: #fff;
  text-decoration: none;
  background-color: #332d26;
}
.pagination-color > li:first-child > a,
.pagination-color > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination-color > li:last-child > a,
.pagination-color > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination-color > li > a:hover,
.pagination-color > li > span:hover,
.pagination-color > li > a:focus,
.pagination-color > li > span:focus {
  color: #fff;
  background-color: #f87e19;
  border-color: #ddd;
}
.pagination-color > .active > a,
.pagination-color > .active > span,
.pagination-color > .active > a:hover,
.pagination-color > .active > span:hover,
.pagination-color > .active > a:focus,
.pagination-color > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination-color > .disabled > span,
.pagination-color > .disabled > span:hover,
.pagination-color > .disabled > span:focus,
.pagination-color > .disabled > a,
.pagination-color > .disabled > a:hover,
.pagination-color > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}


/* pager-pagi */



.pager-pagi {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager-pagi li {
  display: inline;
}
.pager-pagi li > a,
.pager-pagi li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-right: 8px;
  line-height: 1.42857143;
  color: #fff;
  text-decoration: none;
  background-color: #7d7c7f;

}
.pager-pagi li > a:hover,
.pager-pagi li > a:focus {
  text-decoration: none;
  background-color: #fa9011;
  color: #000;
}

.pager-pagi .next{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pager-pagi .previous{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pager-pagi .next > a,
.pager-pagi .next > span {
  float: right;


}
.pager-pagi .previous > a,
.pager-pagi .previous > span {
  float: left;

}

.pager-pagi .disabled > a,
.pager-pagi .disabled > a:hover,
.pager-pagi .disabled > a:focus,
.pager-pagi .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}

/*  */



.pager-bl-pagi {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager-bl-pagi li {
  display: inline;
}
.pager-bl-pagi li > a,
.pager-bl-pagi li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-right: 1px;
  line-height: 1.42857143;
  color: #fff;
  text-decoration: none;
  background-color: #332d26;

}
.pager-bl-pagi li > a:hover,
.pager-bl-pagi li > a:focus {
  text-decoration: none;
  background-color: #fa9011;
  color: #000;
}

.pager-bl-pagi .next{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pager-bl-pagi .previous{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pager-bl-pagi .next > a,
.pager-bl-pagi .next > span {
  float: right;


}
.pager-bl-pagi .previous > a,
.pager-bl-pagi .previous > span {
  float: left;

}

.pager-bl-pagi .disabled > a,
.pager-bl-pagi .disabled > a:hover,
.pager-bl-pagi .disabled > a:focus,
.pager-bl-pagi .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}


/*  */



.pagination-soft {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination-soft > li {
  display: inline;
}
.pagination-soft > li > a,
.pagination-soft > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #000;
  margin-left: -1px;
  background-color: #fff;
  border-radius: 50%;
    margin-right: 4px;
        border: 1px solid #fff;


}
.pagination-soft > li:first-child > a,
.pagination-soft > li:first-child > a:hover,
.pagination-soft > li:first-child > span {
  border: 0;
  background: none;

}
.pagination-soft > li:last-child > a,
.pagination-soft > li:last-child > a:hover,
.pagination-soft > li:last-child > span {
  border: 0;
  background: none;
}
.pagination-soft > li > a:hover,
.pagination-soft > li > span:hover,
.pagination-soft > li > a:focus,
.pagination-soft > li > span:focus {
  color: #23527c;
  background-color: #fff;
    border: 1px solid #ded7d7;

  border-color: #ddd;
}
.pagination-soft > .active > a,
.pagination-soft > .active > span,
.pagination-soft > .active > a:hover,
.pagination-soft > .active > span:hover,
.pagination-soft > .active > a:focus,
.pagination-soft > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #fa9011;
  border-color: #fff;
}
.pagination-soft > .disabled > span,
.pagination-soft > .disabled > span:hover,
.pagination-soft > .disabled > span:focus,
.pagination-soft > .disabled > a,
.pagination-soft > .disabled > a:hover,
.pagination-soft > .disabled > a:focus {
  color: #000;
  cursor: not-allowed;
  background-color: #ded7d7;
}

/*  */



.pagination-easy {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination-easy > li {
  display: inline;
}
.pagination-easy > li > a,
.pagination-easy > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #000;
  margin-left: -1px;
  background-color: #fff;
  border-radius: 50%;
    margin-right: 4px;
        border: 1px solid #fff;


}
.pagination-easy > li:first-child > a,
.pagination-easy > li:first-child > a:hover,
.pagination-easy > li:first-child > span {
  border: 0;
  background: none;

}
.pagination-easy > li:last-child > a,
.pagination-easy > li:last-child > a:hover,
.pagination-easy > li:last-child > span {
  border: 0;
  background: none;
}
.pagination-easy > li > a:hover,
.pagination-easy > li > span:hover,
.pagination-easy > li > a:focus,
.pagination-easy > li > span:focus {
  color: #fa9011;
  background-color: #fff;
    border: 1px solid #ded7d7;

  border-color: #ddd;
}
.pagination-easy > .active > a,
.pagination-easy > .active > span,
.pagination-easy > .active > a:hover,
.pagination-easy > .active > span:hover,
.pagination-easy > .active > a:focus,
.pagination-easy > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #fa9011;
  border-color: #fff;
}
.pagination-easy > .disabled > span,
.pagination-easy > .disabled > span:hover,
.pagination-easy > .disabled > span:focus,
.pagination-easy > .disabled > a,
.pagination-easy > .disabled > a:hover,
.pagination-easy > .disabled > a:focus {
  color: #000;
  cursor: not-allowed;
  background-color: #ded7d7;
}


/* People */
.people-box{
  background-color: #f6f6f6;
  height: 217px;
  position: relative;
  color: #8c8c8c;
}

.people-img img{
  border-bottom: 2px #d3d3d3 solid;
  border-top: 2px #d3d3d3 solid;
  margin-left: 11px;
  margin-top: -18px;

}
people-img img, .pc-img img {
  width: 108px;
  height: 104px;
 
}

.people-head{
  margin-left: 11px;
}

.people-head h3{
  font-size: 18px;
}

.people-head h5{
  font-size: 14px;
}

.content{
  padding: 15px 10px;
  border-bottom: 1px solid #a6a6a6;
}

.content p{
  padding: 0;
  margin: 0;
}


.social-links{
  display: block;
}


.social-links ul {
  margin: 0;
  padding: 0;
}


.social-links ul li{
  list-style: none;
  margin-left: 8px;
  font-size: 23px;
  text-align: center;
  display: inline-block;

}


.fa-facebook-square:hover{
  color: #3460a1;
  cursor: pointer;
      -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}

.fa-twitter-square:hover{
  color: #28aae1;
  cursor: pointer;
      -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}

.fa-linkedin-square:hover{
  color: #136d9d;
  cursor: pointer;
      -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}

.fa-rss-square:hover{
  color: #f58020;
  cursor: pointer;
      -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}

.fa-google-plus-square:hover{
  color: #de5543;
  cursor: pointer;
      -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}


.fa-pinterest-square:hover{
  color: #cc2127;
  cursor: pointer;
      -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}





/* People */
.people-clean{
  color: #8c8c8c;
}


.people-img img,.pc-img img{
  border-bottom: 2px #d3d3d3 solid;
  border-top: 2px #d3d3d3 solid;
  margin-left: 11px;
  margin-top: -18px;

}



.people-head,.pc-head{
  margin-left: 11px;
}

.people-head h3,.pc-head h3{
  font-size: 18px;
}


.pc-head h3{
  font-size: 13px;
  background-color:#eaeaea;
  margin:0;
  padding: 8px 3px;
  margin-bottom: 5px;


}

.people-head h5,.pc-head h5{
  font-size: 14px;
}
.pc-head h5{
  background-color:#eaeaea;
  margin: 0;
  padding: 4px 5px;

}

.content, .pc-content{
  padding: 15px 10px;
  border-bottom: 1px solid #a6a6a6;
}

.content p,.pc-content p{
  padding: 0;
  margin: 0;
}


.social-links, .pc-social-links, .preq-links, .pf-links{
  display: block;
}


.social-links ul, .pc-social-links ul , .preq-links ul, .pf-links ul{
  margin: 0;
  padding: 0;
}

.preq-links ul{

}

.social-links ul li, .pc-social-links ul li , .preq-links ul li, .pf-links ul li{
  list-style: none;
  margin-left: 8px;
  font-size: 23px;
  text-align: center;
  display: inline-block;

}

.preq-links ul li{
  margin-left: 4px;
  color: #a6a6a6;
}

.pc-social-links ul li{
  margin-left: 4px;
  color: #a6a6a6;
}

.pf-links ul li{
  color: #a6a6a6;
  padding-top: 20px;
}

.people-reqhead{
  background-color: #494949;
}

.people-reqhead img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-top: -20px;
  margin-left: 40px;
  border:2px solid #fff;
}

.people-reqhead h3{
  margin:0;
  padding:0;
  padding: 8px 18px;
  font-size: 13px;
  color: #fff;
}

.people-reqhead h5{
  margin:0;
  padding: 0 0 15px 0;
  font-size: 11px;
  color: #fff;
  text-align: center;
}

.people-reqcontent p{
  color: #8c8c8c;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;

}


.people-full{
  color: #8c8c8c;
  margin-top: 40px;

  
}

.people-fullimg img{
  border-right: 3px solid #d6d6d6;
  padding-right: 13px;
  margin-right: 13px;
}

.people-full h3{
  font-size: 20px;
  color: #676767;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.people-full h5{
  font-size: 14;
  color: #808080;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  
}

.people-full p{
  font-size: 12px;
  color: #8c8c8c;
  margin: 0;
  padding: 0;
  
}


.pricing-table tr td{
  padding-top: 40px

}

@import url(http://fonts.googleapis.com/css?family=Ubuntu);
    

    
    /*----------
    Blocks
    ----------*/
    /*Pricing table and price blocks*/
    .pricing_table {
            font-family: Ubuntu, arial, verdana;
      line-height: 150%; 
      font-size: 12px; 
      width: 100%; 
      padding-top: 10px;
      margin-top: 100px;
    }
    
    .price_block {
      text-align: center; 
      color: #fff; 
      list-style-type: none; 
      transition: all 0.25s; 
      position: relative; 
      box-sizing: border-box;
      margin-bottom: 10px; 
      border-bottom: 1px solid transparent; 
    }

    /*Price tags*/
    .price {
      display: table; 
      background: #fa9011; 
      width: 100%; 
      height: 70px; 
    }

    .price_figure_2{

    }
    .price_figure,.price_figure_1 {
      font-size: 24px; 
      text-transform: uppercase; 
      vertical-align: middle; 
      display: table-cell;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .price_figure_1{
      padding: 0;
      padding: 31px 0;
    }
    .price_number {
      font-weight: bold; 
      display: block;
    }

    .price_title {
      font-weight: bold; 
      display: block;
      padding-bottom:  10px;
    }


    .price_tenure {
      font-size: 11px; 
    }
    
    /*Features*/
    .features  {
      padding-left: 0;
      color: #000;
    }


    .features li {
      padding: 10px 15px;
      font-size: 11px; 
      list-style-type: none;
    }

    .features-1{
      background-color: #f3f3f3;
    }
    

    .footer {
      padding: 15px; 
    }
    .action_button {
      text-decoration: none; 
      color: #fff; 
      font-weight: bold; 
      border-radius: 5px; 
      background:#fa9011; 
      padding: 5px 20px; 
      font-size: 11px; 
      text-transform: uppercase;
    }
    
    .price_block:hover {
      transform: scale(1.04) translateY(-5px); 
      z-index: 1; 
      border-bottom: 0 none;
    }
    .price_block:hover .price {
      background-color: #333333;
    }
    .price_block:hover h3 {
      background: #222;
    }
    .price_block:hover .action_button {
      background:#313131; 
    }
    

    
    
    .price-block-active{
      box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.5); 
      transform: scale(1.04) translateY(-5px); 
      z-index: 3; 
      border-bottom: 0 none;

    }

    .price-block-active .price {
      background-color: #333333;
    }
    .price-block-active h3 {
      background: #222;
    }
    .price-block-active .action_button {
      background:#313131; 
    }
    
    

    
    
    
    .skeleton, .skeleton ul, .skeleton li, .skeleton div, .skeleton h3, .skeleton span, .skeleton p {
      border: 5px solid rgba(255, 255, 255, 0.9);
      border-radius: 5px;
      margin: 7px !important;
      background: rgba(0, 0, 0, 0.05) !important;
      padding: 0 !important;
      text-align: left !important;
      display: block !important;
      
      width: auto !important;
      height: auto !important;
      
      font-size: 10px !important;
      font-style: italic !important;
      text-transform: none !important;
      font-weight: normal !important;
      color: black !important;
    }
    .skeleton .label {
      font-size: 11px !important;
      font-style: italic !important;
      text-transform: none !important;
      font-weight: normal !important;
      color: white !important;
      border: 0 none !important;
      padding: 5px !important; 
      margin: 0 !important;
      float: none !important;
      text-align: left !important;
      text-shadow: 0 0 1px white;
      background: none !important;
    }
    .skeleton {
      display: none !important;
      margin: 100px !important;
      clear: both;
    }


    .table-item-col{
      padding-right: 0;
      padding-left: 0;
    }


.price-shape-1 {
-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 192px;
  height: 0;
  border: 50px solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 284px solid #f1eeee;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  position: relative;
}

.price-shape-1 ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.price-shape-1 ul li{
  list-style: none;
  color: #787d84;
  font-size: 16px;
  text-align: center;

}


.price-shape-1 .pesh1{
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 30px
}


.price-shape-1 .pesh2{
  padding-bottom:20px;
  font-size: 14px;
  }


.price-shape-1 .pesh3{
  padding-bottom:20px;
  font-size: 30px;
  color: #fa9011;
}


.price-shape-1 .pesh4{
  padding-bottom:10px;
}


.price-shape-1 .pesh5{
  padding-bottom:8px;
}

.price-shape-1 button{
  background-color: #333333;
  border-bottom: 1px solid #fa9011;
  font-size: 20px;
  color: #fa9011;
  padding: 12px;
  position: absolute;
  bottom: -293px;
  left: 9px;
}


.price-shape-2 ul{
  list-style: none;
  top: -302px;
  left: 10px;
  position: absolute;
  margin: 0;
  padding: 0;
}

.price-shape-2 ul li{
  list-style: none;
  color: #787d84;
  font-size: 16px;
  text-align: center;

}


.price-shape-2 .pesh1{
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 30px
}


.price-shape-2 .pesh2{
  padding-bottom:20px;
  font-size: 14px;
  }


.price-shape-2 .pesh3{
  padding-bottom:20px;
  font-size: 30px;
  color: #fa9011;
}


.price-shape-2 .pesh4{
  padding-bottom:10px;
}


.price-shape-2 .pesh5{
  padding-bottom:8px;
}

.price-shape-2 button{
  background-color: #333333;
  border-bottom: 1px solid #fa9011;
  font-size: 20px;
  color: #fa9011;
  padding: 12px;
}


.price-shape-2:before, .price-shape-2:after{ 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
} 

.price-shape-2 { 
  position: relative;
  height: 0px;
  width: 295px;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 285px solid #f1eeee;
  border-bottom: 0;
}




.price-cir{
  border-top: 6px solid #333333;
  border-bottom: 2px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
  border-radius: 5px;
  position: relative;
}

.price-cir ul{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.price-cir ul li{
  margin-bottom: 15px;
}
.pcir-item-1{
  font-size: 26px;
  padding-top: 60px;
  border-bottom: 1px solid  #f1eeee;
}
.pcir-item-2{
  font-size: 23px;
}

.price-cir button{
  font-size: 18px;
  color: #fa9011;
  padding: 6px 10px;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 33px;
}

.price-cir-btn{
  background-color: #333333;
}

.price-cir button:hover{
  background-color: #fa9011;
}

.pcir-item-3, .pcir-item-4, .pcir-item-5, .pcir-item-6 {
  font-size: 14px;
}

.price-circle{
  display: block;
  width: 90px;
  height: 90px;
  border: 6px solid #333333;
  border-radius: 50px;
  background-color: #fff;
  position: absolute;
  top: -50px;
  left: 30%;

}

.price-circle b{
  font-size: 25px;
  margin-top: 10px;
  display: block;
}



.price-circle-active{
  border: 6px solid #fa9011;
}
.price-cir-active{
  border-top: 6px solid #fa9011;
}
.price-cir-btn-active{
  background-color: #fa9011;
}



/*  */

.full-post{
  color: #333333;
  position: relative;
}

.post-orange-color{
  color: #fa9011;
}

.full-post h4{
  font-size: 20px;
}

.full-post p{
  font-size: 15px;
}

.post-date-box{
  padding: 20px 10px;
  margin-left: 20px;
  color: #fa9011;
  position: absolute;
  background-color: #fff;
  font-size: 22px;

}

.full-post .thumb-post{
  width: 1141px;
  height: 479px;
  overflow: hidden;
}

.full-post ul{
  list-style: none;
  display: inline-block;
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-weight: 200;
  margin-top: 5px;
  margin-bottom: 5px;
}

.full-post ul li{
  float: left;
  margin-right: 15px;
  
}

.full-post ul li span{
  padding-right: 4px;
}
.full-post .post-content {
  font-size: 15px;
  display: inline-block;
}

.blue-link{
  color: #325efa;
}

.tumb-post-1{
  width: 1141px;
  height: 479px;
  overflow: hidden;
}

.tumb-post-2{
  width:552px;
  height:478px;
  overflow: hidden;
}

.tumb-post-3{
  width:361px;
  height:268px;
  overflow: hidden;
}

.tumb-post-4{
  width:257px;
  height:151px;
  overflow: hidden;
}

.testmonial-say{
  
}

.testmonial-say p{
  background-color: #333333;
  padding: 15px;
  color: #fff;
  border-radius: 3px;
  text-align: justify;
}

.testmonial-say p:after{
  content: "";
  background-image: url(../images/af-testmonial.png);
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  right: 31px;
  bottom: 56px;
}

.testmonial-say-img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;

}

.testmonial-say h3{
  font-size: 15px;
  padding-left: 6px
}

.testmonial-say h5{
  font-size: 12px;
  padding-left: 6px
}



.testmonial-item{
  border:1px solid #dfdfdf;
  border-radius: 3px;
  padding: 45px 50px;
  position: relative;

}

.testmonial-img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  top: -36px;
  left: 45%;

}

.testmonial-item h3{
  font-size: 15px;

}

.testmonial-item{
  font-size: 12px;
}

.testmonial-item p{
  font-size: 13px;
  text-align: justify;
  color: #a5a5a5;

}

.media-bar{
	background-color: #333333;
	padding: 15px 15px;
	font-size: 20px;
}

.media-bar ul li span input{
  width: 87px;
}

.media-bar ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.media-bar ul li{
  display: inline-block;
  margin-right: 10px;
}

.media-bar ul li span{
  color: #fff;
  cursor: pointer;
}

.media-bar ul li span:hover{
  color: #cbcbcb;
}

.control-1{
  padding-right: 55px;
}

.control-2{
  padding-right: 200px;
}

.control-3{
  padding-right: 85px;

}

.control-4{
   padding-right: 85px;
 
}

.control-5{
  padding-right: 120px;
  
}

.control-6{
  padding-right: 45px;
  
}

.control-7{
  
}

.sliders{
  font-family:'Ubuntu',sans-serif;
}

.demo-code{
  background-color:#ffffff;
  border:1px solid #333333;
  display:block; padding:10px;}
.option-table td{ border-bottom:1px solid #eeeeee;}



/* */


/* ---- button ---- */

.button-rsworks {
  display: inline-block;
  padding: 8px;
  margin-bottom: 10px;
  background-color: #fff;
  border: none;
  border-radius: 7px;
  color: #8c8c8c;
  font-size: 14px;
  cursor: pointer;
}

.button-rsworks:hover {
  background-color: #fa9011;
  color: #fff;
}
.button-rsworks:focus { outline:none }


/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button-rsworks {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}


/* ---- isotope ---- */

.grid {
  border: 1px solid #333;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }



