#creator{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#creator #qalep-draggable {
    width: 99%;
    border: 1px solid #dfdfdf;
    float: left;
}

#creator .sortable{
    width:100%;
    min-height: 200px;


}
.qalep-elements{
    width: 99%;
    padding:0px;
    float: left;
    /*display: inline-table;*/
    white-space: normal; 
    margin: 40px 0px 0px 0px;
    text-overflow: hidden;
    border: 1px solid #dfdfdf;
    min-height: 100px;
    overflow: hidden;
    background-color: #fafafa;
}
#qalep-draggable div,.sortable div{
    margin: 5px;
    /*    border: 1px solid #dfdfdf;*/
    /*    padding: 10px;*/

}
#qalep-draggable div{ 
    width: 125px;
    float:left;
    padding: 10px;
}
.resizable {
    background-position: top left;
    width: 125px;
    padding: 10px;
    border:1px solid lightgray ; }
.qalep-container div{
    width: 480px ! important;
}
.sortable div {
    width: 500px;
    height:auto !important;
    min-height: 20px;
    background-position: top left;
    padding: 10px;
    border: 1px solid lightgray;
    float:left;

}
#creator .title-blocks{
    background: gray;
    cursor: auto;
    padding: 11px 10px 12px 14px;
    background: #f5f5f5;
    border-bottom: 1px solid #DFDFDF;
    margin: 0px 0px 5px 0px;
}

.close {
    float: right;
    color: gray;
    cursor: pointer;
    alignment-adjust: middle;
}
.qalep-clone{
     float: right;
    color: green;
    cursor: pointer;
    alignment-adjust: middle;
    margin: 0px 10px 0px 0px;
    
}
.ele_edit {
    float: right;
    color: blueviolet;
    cursor: pointer;
    text-align: right;
    margin: 0px 10px 0px 0px;
    position:relative;
    display: block;
    bottom:0;
}

.clear-div{
    float: right;
    text-decoration: none;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}
.qalep-container{
    width: 500px !important;
    border: 2px dotted;
    min-height: 100px !important;
    display: table;
    background: lightblue;
    float:left;

}

li{list-style: none;}
.qalep-content{
    background: red;
    width: 100px;
}
.properties{
    width:100px;
}
#qalep-dialog-view{
    overflow: scroll;
    top: 10px;
    display: none;

}